body{
  margin: 20px;
  background: #f5f3f8;
  overflow-x: hidden;
}

.hero-contenedor{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  min-height: 85vh;
  padding: 5px 60px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}

/* Contenedor principal */
.background-tokyo {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 28px;
  padding: 20px 0 90px 0;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.1),
      rgba(0,0,0,0.4)
    ),url('Fondo_tokio.png');
  background-size: cover;
  background-position: center;
}

/* Estilo de los pétalos */
.petal {
  position: absolute;
  top: -10%;
  background-color: #ff7893;
  border-radius: 150% 0 150% 0;
  width: 15px;
  height: 20px;
  z-index: 2;
  /* Sombra para que resalten sobre el fondo oscuro */
  animation: fall linear infinite;
}

/* Patrón cíclico: repite cada 10 pétalos para más variedad */
.petal:nth-child(10n+1) {
  left: 5%;
  animation-duration: 5s;
  animation-delay: 0s;
}

.petal:nth-child(10n+2) {
  left: 15%;
  animation-duration: 8s;
  animation-delay: 1s;
  width: 10px;
}

.petal:nth-child(10n+3) {
  left: 25%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.petal:nth-child(10n+4) {
  left: 35%;
  animation-duration: 10s;
  animation-delay: 0.5s;
  width: 12px;
}

.petal:nth-child(10n+5) {
  left: 45%;
  animation-duration: 7s;
  animation-delay: 3s;
}

.petal:nth-child(10n+6) {
  left: 55%;
  animation-duration: 9s;
  animation-delay: 1.5s;
  width: 18px;
}

.petal:nth-child(10n+7) {
  left: 65%;
  animation-duration: 4s;
  animation-delay: 4s;
}

.petal:nth-child(10n+8) {
  left: 75%;
  animation-duration: 12s;
  animation-delay: 2.5s;
  width: 14px;
}

.petal:nth-child(10n+9) {
  left: 85%;
  animation-duration: 4s;
  animation-delay: 1s;
}

.petal:nth-child(10n+10) {
  left: 95%;
  animation-duration: 11s;
  animation-delay: 3.5s;
  width: 16px;
}


/* Animación de caída y balanceo */
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg) translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateY(110vh) rotate(720deg) translateX(100px);
    opacity: 0;
  }
}

/* contenedor del menu */
.menu_pricipal {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px auto;
  gap: 50px;
  border-radius: 28px;
  align-items: center;
  justify-content: space-between;
  padding: 1px 40px;
  background: rgba(255, 253, 253, 0.358);
  backdrop-filter: blur(10px);
   margin-bottom: 60px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.348);
  box-shadow:
    0 4px 20px rgba(241, 241, 241, 0.348);
}

/* logo del menu */

.logo {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 10px;
  color: #130133;
}

.logo h2 {
  font-size: 32px;
  font-weight: 700;
}

.logo-icon {
  width: auto;
  height: auto;
}

/* palabras del menu */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #130133;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #8c00ff;
}

/* boton de iniciar sesion */
.login-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 12px 22px;
  border-radius: 14px;
  background: linear-gradient(135deg,
      #9333ea,
      #6209af);

  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow:
    0 8px 20px rgba(147, 51, 234, 0.25);
  transition: 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-2px);

  box-shadow:
    0 12px 24px rgba(64, 1, 123, 0.738);
}

/* titulo de la pagina*/
.titulo{
  font-size: 78px;
  line-height: 1.05;
  font-weight: 800;
  color: #130133;
  margin:
    25px 0;
}
.titulo span{
  background: linear-gradient(
    90deg,
    #6f5cff,
    #b55cff,
    #ff5ca8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.descrip_2{
  max-width: 520px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
  color: #342b59;
  margin-bottom: 40px;
}

/* boton de aventura */
.aventura-button{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: white;
  color: #7b4dff;
  border-radius: 50px;
  font-weight: 600;
  box-shadow:
    0 8px 20px rgba(225, 213, 236, 0.712);
  transition: 0.3s ease;
}

.aventura-button:hover {
  transform: translateY(-2px);

  box-shadow:
    0 12px 24px rgba(151, 85, 212, 0.836);
}

.botones{
  display: flex;
  gap: 20px;
}
/* boton de explora */
.explora-btn{
  display: flex;
  align-items: center;
  gap: 12px;
  background: linear-gradient(
    90deg,
    #7b4dff,
    #6a3df0
  );
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 600;
  box-shadow:
    0 10px 25px rgba(180, 174, 199, 0.25);
  transition: 0.3s ease;
}

.explora-btn:hover{
  transform: translateY(-3px);
  box-shadow:
    0 15px 30px rgba(123, 77, 255, 0.35);
}

/* boton de video */
.video-btn{
  display: flex;
  align-items: center;
  gap: 14px;
  background: white;
  color: #15154b;
  text-decoration: none;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 600;
  box-shadow:
    0 10px 25px rgba(233, 226, 226, 0.678);
  transition: 0.3s ease;
}

.video-btn:hover{
  transform: translateY(-3px);
   box-shadow:
    0 10px 25px rgba(238, 247, 248, 0.897);
}

/*---------------------------FOOTER---------------------------*/
.kizuna-footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  margin: 0 40px;
  box-sizing: border-box;
}

.footer-contenido p {
  color: white;                       
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
  text-align: center;
}